/* Spinner.css */
.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .spinner {
    border: 8px solid rgba(23, 22, 22, 0.1);
    border-left-color: #070707;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    box-shadow: 0 0 0 4px #fff;
  }
  
  @keyframes spin {
    to {
      transform: rotate(480deg);
    }
  }
  